<div class="container">
  <h1><%= @article.title%></h1>
  <p><em>Category:</em> <%= @article.category_name %></p>
  <h4>Price: <%= @article.price %></h4>
  <p><%= @article.description %></p>
  <a href="mailto:<%= @article.email %>">contact owner</a>
</div>
